@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Cormorant+Garamond:wght@300&family=Merriweather&family=Montserrat:wght@400;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:wght@300&family=Sacramento&family=Stint+Ultra+Expanded&family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1440px] w-full mx-auto;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bg-input: #4a5361;
  --color-bg-button: #bb8cfc;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
}
